body {
  font-family: monospace;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  line-height: 26px;
  width: 600px;
  margin: auto;
  background-color: black;
  color: white;
  text-justify: distribute;
}

img {
  padding: 50px 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

nav ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  list-style: none;
}

a {
  text-decoration: none;
  color: blueviolet;
}

a:hover {
  text-decoration: underline;
  color: aqua;
}

code {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

article {
  padding: 20px;
  text-align: justify;
  border: 1px solid white;
}

article h1,
article h2 {
  text-align: center;
  text-decoration: underline;
}

article ul li a {
  color: deeppink;
}

section {
  display: flex;
  text-align: center;
  border: 1px solid white;
  justify-content: space-around;
}

section a {
  color: crimson;
}